* {
    /* transition: 0.2s; */
    color: white;
    user-select: none; /* Ngăn người dùng copy */
}

.persionInfo a {
    color: #d6d5d5!important;
}

.persionInfo a:hover {
    color: #007bff!important;
    text-decoration: none;
}

.container-fluid {
    padding-top: 20px!important;
    background-color: #343a40;
}

/* #region Top Navigation */
.imgprofie {
    width: 40px;
    height: 40px;
    background-color: rgb(179, 178, 178);
    border-radius: 5px;
    cursor: pointer;
}

.logo {
    float: left;
    padding-left: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8vh;
    /* font-weight: bold; */
    font-size: 25px;
}

.topnav {
    width: 100%;
    height: 8vh;
    background-color: #4a5258;
    padding-right: 7px;
}

.dropdownnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8vh;
    float: right;
    margin-left: 10px;
}

/* #endregion */

/* #region Side bar */
.sidebar {
    min-height: calc(92vh - 50px);
}

.btnnavside {
    /* width: 100%; */
    display: block;
    border-radius: 0 !important;
    background-color: transparent;
    color: #727171;
    text-align: left;
    box-shadow: none!important;
    margin-bottom: 5px;
    line-height: 0.7;
    border-left: 3px solid transparent;
    font-weight: bolder;
    font-size: small;
    text-transform: uppercase;
    padding-left: 4px!important;
}

.active {
    border-left: 3px solid #d6d5d5;
    color: #d6d5d5
}

.btnnavside:hover {
    border-left: 3px solid #d6d5d5;
    color: #d6d5d5
}
/* #endregion */

/* #region Main Root */
/* .maincontent {
    padding: 0 0 0 0 !important;
} */

.banner {
    width: 100%;
    height: 200px;
    background-color: rgb(45, 21, 85);
    background-image: url(../images/1.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner div {
    text-align: center;
}

.banner h4 {
    color: white;
}

.btn-outline-light {
    border-radius: 25px!important;
    font-weight: 500;
    border-width: 0.1rem;
}

/* Thông tin học sinh */
.persionInfo {
    margin-top: 10px;
}

.persionInfo .col-3 {
    width: 210px;
    height: 150px;
    background-color: #4a5258;
    margin-right: 5px;
    /* margin-bottom: 5px; */
    float: left;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid transparent;
    max-width: 1000px!important;
    flex: 0%!important;
    padding-left: 5px;
    /* transition: 0.2s */
}

.persionInfo .col-3:hover {
    border: 1px solid #d6d5d5;
}

.colflex {
    height: 40px;
    display: flex;
    position: absolute;
    bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .persionInfo>div {
    
} */

/* #endregion */

/* #region dropdown */

.dropdown-menu {
    background-color: #4a5258;
    transition: none;
    /* border-color: #d6d5d5; */
}

.dropdown-item {
    color: #d6d5d5;
}

.dropdown-item:hover {
    color: #d6d5d5;
    background-color: #343a40;
}

.dropdown-header {
    color: #a8a7a7;
    font-weight: bold;
}

/* #endregion */

/* #region Combobox */

.mycombobox {
    margin-left: 10px;
    background-color: #343a40!important;
    color: #d6d5d5;
    box-shadow: none!important;
    height: 30px;
    width: 120px;
    margin-top: -5px;
    border: 1px solid #4a5258;
    padding: 0px 10px 0px 10px!important;
    transition: 0s;
}
.dropdowncombobox:hover .mycombobox {
    border: 1px solid #727171;
}
.dropdowncombobox:hover .comboxdrop {
    border: 1px solid #727171;
    border-top: none;
}

.comboxdrop a:hover {
    color: #d6d5d5!important;
    background-color: #4a5258;
}

.comboxdrop a {
    padding: 5px;
    font-size: smaller;
}

.comboxdrop {
    min-width: 120px!important;
    border-radius: 0 0 0.2rem 0.2rem !important;
    background-color: #343a40;
    border: 1px solid #4a5258;
    border-top: none;
    padding-top: 0!important;
    margin-top: -1px;
}

/* #endregion */

/* #region Menu bar */
.menubar {
    width: 100%;
    height: 30px;
    background-color: #343a40;
}
.menu {
    float: left;
}
.menu .btn {
    height: 30px;
    line-height: 0px;
    border-radius: 0;
    background-color: #343a40;
    box-shadow: none;
    font-size: smaller;
    font-weight: 400;
    transition: none;
}
.menu .btn:hover {
    background-color: #4a5258;
}

.menu:hover .btn + .dropdown-menu {
    display: block!important;
}

.menu:hover .btn {
    background-color: #4a5258;
}

.menu .dropdown-menu {
    /* transform: translate3d(0px, 28px, 0px)!important; */
    border-radius: 0!important;
    border: 0!important;
    background-color: #4a5258;
    margin-top: 0px;
    
    font-size: smaller;
}
/* #endregion */

/* #region Bảng thông báo */

.modal-content {
    background-color: #4a5258;
    border-radius: 3px;
    color: #d6d5d5!important;
}

.modal-dialog {
    max-width: calc(950px + 20px);
}

.modal-header {
    border-bottom: 0;
    padding: 10px;
}

.modal-body {
    margin-top: 0;
    background-color: #343a40!important;
    height: 500px;
}

.modal-header .close {
    background-color: #343a40!important;
    opacity: 1;
    margin: -10px;
    width: 50px;
    border-radius: 0px 0px 0px 12px;
    padding: 0;
}

.modal-header .close:hover {
    background-color: #ff3c00!important;
}

/* #endregion */